@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.components-table td,
.components-table th {
    border: 1px solid gray !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.bg-my-grey {
    background-color: #ececec !important;
}

.take-off-table tr{
    border: 1px solid black !important;
}
